{% extends "index.html" %}

{% block title %}
Login with spotify
{% endblock %}

{% block main %}
    <h5 class="whites"> I made this app because the spotify phone app only grants access to an artists top 5 songs.  Additionally,
                        making a playlist with all songs of a single artist will often result in automatic recommendations for new songs similar
                        to my tastes with the same artists and similar features.
    </h5>
    <h6 class="whites"> Note: Spotify will not allow random users access to an app made with their API for personal/hobby projects</h6>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0MU5UTgxCbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h5 class="whites midbot">https://github.com/JRDN-tech</h5>
{% endblock %}
